<section>
  <div class="grid grid-cols-12 py-8">
    <section
      class="relative flex h-32 items-end bg-gray-900 col-span-12 rounded-md"
    >
      <img
        alt="Night"
        src="https://img.freepik.com/free-vector/color-doodle-food-burger-pattern_1409-3918.jpg"
        class="absolute inset-0 h-full w-full object-cover opacity-80"
      />
    </section>
    <section
      class="flex justify-center items-center px-8 col-span-12 lg:justify-start pt-6"
    >
      <div class="w-full">
        <h1
          class="mt-2 text-2xl font-bold text-gray-200 sm:text-3xl md:text-4xl border-b-2 border-white"
        >
          About You
        </h1>
        <div class="flex gap-10 justify-center">
          <app-filled-button-red
            [routerLink]="'/profile/user'"
            [routerLinkActive]="
              '!text-gray-300 !border-gray-300 bg-transparent'
            "
          >
            Set User Details
          </app-filled-button-red>
          <app-filled-button-red
            [routerLink]="'/profile/password'"
            [routerLinkActive]="
              '!text-gray-300 !border-gray-300 bg-transparent'
            "
          >
            Set Password
          </app-filled-button-red>
        </div>
      </div>
    </section>
    @if (updateSection === 'user') {
    <div class="col-span-12 flex justify-center items-center sm:gap-4 pt-6">
      <app-empty-button-red class="w-10/12" (onClick)="enableFormClick()">
        {{ enableForm ? "Disable Edit" : "Enable Edit" }}
      </app-empty-button-red>
    </div>
    <div class="col-span-12 flex justify-center items-center px-10 lg:px-3">
      <div class="grid grid-cols-2 col-span-12">
        <main
          class="flex justify-center px-4 py-8 lg:px-12 col-span-2 lg:col-span-1 w-full"
          [@fadeInOut]="initiation"
        >
          <div class="w-full lg:max-w-3xl">
            <app-checkbox
              class="block min-h-6 border-b-[1px] border-slate-300"
              [content]="'Edit address with changes on map location'"
              [(checked)]="checkAddressEdit"
              label="'edit-check'"
            ></app-checkbox>
              <form
                [formGroup]="updateUserForm"
                class="mt-8 grid grid-cols-6 gap-6"
                (ngSubmit)="onSubmit()"
              >
                <app-text-input-box
                  class="col-span-6"
                  [type]="'text'"
                  [label]="'First Name'"
                  [minlength]="3"
                  [control]="formControlUser('firstName')"
                  [withInfoIcon]="true"
                  [errorCategories]="nameErrorArray"
                ></app-text-input-box>
                <app-text-input-box
                  class="col-span-6"
                  [type]="'text'"
                  [label]="'Last Name'"
                  [control]="formControlUser('lastName')"
                ></app-text-input-box>
                <app-text-input-box
                  class="col-span-6"
                  [type]="'text'"
                  [label]="'Address Line 1'"
                  [control]="formControlUser('addressLine1')"
                  [withInfoIcon]="true"
                  [minlength]="3"
                  [errorCategories]="addressErrorArray"
                ></app-text-input-box>
                <app-text-input-box
                  class="col-span-6"
                  [type]="'text'"
                  [label]="'Address Line 2'"
                  [control]="formControlUser('addressLine2')"
                ></app-text-input-box>
                <app-select-input-box
                  class="col-span-6 sm:col-span-3"
                  [list]="tempCities"
                  [control]="formControlUser('city')"
                  [ifCondition]="ifCityCondition"
                  [elseLabel]="'Ignore asterix'"
                  [label]="'City'"
                  [name]="'CitySelect'"
                ></app-select-input-box>
                <app-select-input-box
                  class="col-span-6 sm:col-span-3"
                  [list]="tempStates"
                  [control]="formControlUser('state')"
                  [elseLabel]="'Service Unavailable'"
                  [ifCondition]="ifStateCondition"
                  [label]="'State'"
                  [name]="'StateSelect'"
                  (onChange)="onStateChange()"
                ></app-select-input-box>
                <app-text-input-box
                  class="col-span-6 sm:col-span-3"
                  [type]="'text'"
                  [label]="'Zip Code'"
                  [control]="formControlUser('zipCode')"
                ></app-text-input-box>
                <app-select-input-box
                [ifCondition]="false"
                  class="col-span-6 sm:col-span-3"
                  [list]="tempCountries"
                  [control]="formControlUser('country')"
                  [label]="'Country'"
                  [name]="'CountrySelect'"
                  (onChange)="onCountryChange()"
                >
                  ></app-select-input-box
                >
                @if (enableForm) {
                <app-empty-button-red
                  class="col-span-6 hidden lg:flex lg:gap-4"
                  [type]="'submit'"
                  [disabled]="!updateUserForm.valid"
                  >Update Profile</app-empty-button-red
                >
                }
              </form>
          </div>
        </main>
        @defer (when userData) { @if (enableForm) {
        <div
          class="px-8 py-8 col-span-2 lg:col-span-1"
          [@fadeInOut]="enableForm"
        >
          <app-maps
            (locationClicked)="onMapClick($event)"
            [address]="userData.data.Address"
          ></app-maps>
        </div>
        } }
        <div class="px-8 py-8 lg:hidden col-span-2 grid gap-4">
          @if (enableForm) {
          <app-empty-button-red
            class="col-span-6 sm:flex sm:items-center sm:gap-4"
            class="col-span-6"
            [type]="'submit'"
            [disabled]="!updateUserForm.valid"
            (onClick)="onSubmit()"
            >Update Profile</app-empty-button-red
          >
          }
        </div>
      </div>
    </div>
    } @else if (updateSection === 'password') {

    <form
      [@fadeInOut]="updateSection"
      class="w-full mt-8 grid grid-cols-6 gap-6 max-w-xl px-8 col-span-12 pt-6"
      [formGroup]="updatePasswordForm"
      (ngSubmit)="onPasswordSubmit()"
    >
      <app-text-input-box
        class="col-span-6"
        [type]="'password'"
        [label]="'Password'"
        [control]="formControlPass('password')"
        [withInfoIcon]="true"
        [minlength]="8"
        [errorCategories]="passwordErrorArray"
      ></app-text-input-box>
      <app-text-input-box
        class="col-span-6"
        [type]="'password'"
        [label]="'Confirm Password'"
        [control]="formControlPass('confirmPassword')"
      ></app-text-input-box>
      @if(this.updatePasswordForm.errors?.notMatch) {
        <div class="col-span-6 bg-red-500 bg-opacity-30 rounded-lg text-center py-4">
          Make sure the 2 passwords match
        </div>
      }
      <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
        <app-empty-button-red
          [type]="'submit'"
          [disabled]="!updatePasswordForm.valid"
        >
          Update Password
        </app-empty-button-red>
      </div>
    </form>
    }
  </div>
</section>
