<section class="grid grid-cols-2">
  <div class="col-span-2 px-4">
    <app-form-header
      [pageName]="'Registration'"
      [title]="'Enter Into The Food Mine 🍉'"
      [subtitle]="
        'Deliciously easy: Order your favorite meals with a click. From classics
    to gourmet delights, we deliver flavor to your door, making dining a
    breeze. Enjoy the convenience!'
      "
    ></app-form-header>
  </div>
  @if (enableForm) {
  <div
    class="grid grid-cols-12 col-span-2 lg:col-span-1"
    [@fadeInOut]="enableForm"
  >
    <main
      class="flex justify-center items-center px-8 py-8 lg:px-12 col-span-12 w-full"
    >
      <div class="w-full lg:max-w-3xl">
        <form
          [formGroup]="registrationForm"
          class="mt-8 grid grid-cols-6 gap-6"
          (ngSubmit)="onSubmit()"
        >
          <app-text-input-box
            class="col-span-6 sm:col-span-3"
            [fieldLength]="'medium'"
            [control]="formControl('firstName')"
            [type]="'text'"
            [label]="'First Name'"
            [minlength]="3"
            [control]="formControl('firstName')"
            [withInfoIcon]="true"
            [errorCategories]="nameErrorArray"
          ></app-text-input-box>
          <app-text-input-box
            [fieldLength]="'medium'"
            class="col-span-6 sm:col-span-3"
            [control]="formControl('lastName')"
            [type]="'text'"
            [label]="'Last Name'"
          ></app-text-input-box>
          <app-text-input-box
            [fieldLength]="'long'"
            class="col-span-6"
            [control]="formControl('email')"
            [type]="'email'"
            [label]="'Email'"
            [withInfoIcon]="true"
            [errorCategories]="emailErrorArray"
          ></app-text-input-box>
          <app-text-input-box
            [fieldLength]="'long'"
            class="col-span-6 sm:col-span-3"
            [control]="formControl('password')"
            [type]="'password'"
            [label]="'Password'"
            [withInfoIcon]="true"
            [minlength]="8"
            [errorCategories]="passwordErrorArray"
          ></app-text-input-box>
          <app-text-input-box
            [fieldLength]="'long'"
            class="col-span-6 sm:col-span-3"
            [control]="formControl('confirmPassword')"
            [type]="'password'"
            [label]="'Confirm Password'"
          ></app-text-input-box>
          <app-text-input-box
          [fieldLength]="'extra-long'"
            class="col-span-6"
            [control]="formControl('addressLine1')"
            [type]="'text'"
            [label]="'Address Line 1'"
            [withInfoIcon]="true"
            [minlength]="3"
            [errorCategories]="addressErrorArray"
          ></app-text-input-box>
          <app-text-input-box
          [fieldLength]="'extra-long'"
            class="col-span-6"
            [control]="formControl('addressLine2')"
            [type]="'text'"
            [label]="'Address Line 2'"
          ></app-text-input-box>
          <app-select-input-box
            class="col-span-6 sm:col-span-3"
            [list]="tempCities"
            [control]="formControl('city')"
            [ifCondition]="ifCityCondition"
            [elseLabel]="'Ignore asterix'"
            [label]="'City'"
            [name]="'CitySelect'"
          ></app-select-input-box>
          <app-select-input-box
            class="col-span-6 sm:col-span-3"
            [list]="tempStates"
            [control]="formControl('state')"
            [elseLabel]="'Service Unavailable'"
            [ifCondition]="ifStateCondition"
            [label]="'State'"
            [name]="'StateSelect'"
            (onChange)="onStateChange()"
          ></app-select-input-box>
          <app-text-input-box
          [fieldLength]="'zip-code'"
            class="col-span-6 sm:col-span-3"
            [control]="formControl('zipCode')"
            [type]="'text'"
            [label]="'Zip Code'"
          ></app-text-input-box>
          <app-select-input-box
            [ifCondition]="false"
            class="col-span-6 sm:col-span-3"
            [list]="tempCountries"
            [control]="formControl('country')"
            [label]="'Country'"
            [name]="'CountrySelect'"
            (onChange)="onCountryChange()"
          >
            ></app-select-input-box
          >
          <div class="col-span-6 hidden lg:inline-block">
            <p class="text-sm text-gray-200">
              By creating an account, you agree to our
              <a class="text-neutral-400 underline"> terms and conditions </a>
              and
              <a class="text-neutral-400 underline">privacy policy</a>
              which is nothing as of today.
            </p>
          </div>
          <div class="col-span-6 hidden lg:flex lg:items-center lg:gap-4">
            <app-filled-button-red [type]="'submit'" [textForButton]="'Create an account'" [disabled]="!registrationForm.valid"></app-filled-button-red>
            <p class="mt-4 text-sm text-gray-200 sm:mt-0">
              Already have an account?
              <a routerLink="/login" class="text-neutral-400 underline"
                >Log in</a
              >.
            </p>
          </div>
        </form>
      </div>
    </main>
  </div>
  } @else {
  <div class="col-span-2 lg:col-span-1 flex items-center justify-center">
    <p>Please select your location to continue registration</p>
  </div>
  }
  <div class="px-8 py-8 col-span-2 lg:col-span-1">
    <app-maps (locationClicked)="onMapClick($event)"></app-maps>
  </div>
  <div class="px-8 py-8 lg:hidden col-span-2 grid gap-4">
    <div class="col-span-6">
      <p class="text-sm text-gray-200">
        By creating an account, you agree to our
        <a class="text-neutral-400 underline"> terms and conditions </a>
        and
        <a class="text-neutral-400 underline">privacy policy</a>
        which is nothing as of today.
      </p>
    </div>

    <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
      <app-filled-button-red [disabled]="!registrationForm.valid" (onClick)="onSubmit()" [type]="'button'" [textForButton]="'Create an account'"></app-filled-button-red>

      <p class="mt-4 text-sm text-gray-200 sm:mt-0">
        Already have an account?
        <a routerLink="/login" class="text-neutral-400 underline">Log in</a>.
      </p>
    </div>
  </div>
</section>
