<section [@fadeInOut]="initiation" class="grid grid-cols-2">
  <div class="col-span-2 px-4">
    <app-form-header [pageName]="'Registration'" [title]="'Enter Into The Food Mine 🍉'" [subtitle]="'Deliciously easy: Order your favorite meals with a click. From classics
    to gourmet delights, we deliver flavor to your door, making dining a
    breeze. Enjoy the convenience!'"></app-form-header>
  </div>
  @if (enableForm) {
  <div
    class="grid grid-cols-12 col-span-2 lg:col-span-1"
    [@fadeInOut]="enableForm"
  >
    <main
      class="flex justify-center items-center px-8 py-8 lg:px-12 col-span-12 w-full"
    >
      <div class="w-full lg:max-w-3xl">
        <form
          [formGroup]="registrationForm"
          class="mt-8 grid grid-cols-6 gap-6"
          (ngSubmit)="onSubmit()"
        >
          <div class="col-span-6 sm:col-span-3">
            <div class="relative has-tooltip">
              <span
                class="absolute tooltip p-1 rounded bg-gray-800 border-[1px] border-slate-600 -translate-y-14 top-0 text-sm"
                >
                <ul class="list-disc list-inside px-2">
                  <li>Field is required</li>
                  <li>Minimum 3 characters</li>
                </ul></span
              >
              <div class="relative flex gap-2">
                <label for="FirstName">First Name</label>
                <svg
                  class="svg-icon"
                  style="
                    width: 1em;
                    height: 1em;
                    vertical-align: middle;
                    fill: currentColor;
                    overflow: hidden;
                  "
                  viewBox="0 0 1024 1024"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M511.3 959.4C264 959.4 63.2 759 63.2 511.4S263.7 63.3 511.3 63.3s448.1 200.5 448.1 448.1-200.8 448-448.1 448z m0-836C296.9 123.4 123 297.2 123 511.7S296.8 900 511.3 900s388.3-173.8 388.3-388.3-173.9-388.3-388.3-388.3z"
                  />
                  <path
                    d="M588.7 529.2c-40.3 23.5-53.3 61.6-51.6 98.6 0 12.6-10.2 22.8-22.8 22.8h-11.8c-12.9 0-23.2-10.6-22.8-23.5 0.5-15.8 2.1-36.6 6.7-52.7 7.4-24.5 22.7-57.6 51.6-78.1 50.7-33.6 79.6-68.1 76.2-103.7-5-50.7-40-77.5-93.7-80.9-50.5-1.4-86.1 21-106.7 67.2-8.5 19.1-31 27.5-49.9 18.5-13.1-6.3-19.2-21.6-14-35.2l0.8-2.1c27.9-71.8 87.9-106.7 179.9-103.7 91 5 142 56.7 145.8 130.2 5 52.3-21.9 100.7-87.7 142.6z m-86.4 239c-17.9 0-32.5-15.7-32.5-33.7v1c0-17.9 14.5-32.5 32.5-32.5 17.9 0 32.5 14.5 32.5 32.5v-1c-0.1 17.9-14.6 33.7-32.5 33.7z"
                  />
                </svg>
              </div>
            </div>

            <input
            maxlength="35"
              type="text"
              id="FirstName"
              name="first_name"
              class="mt-1 w-full rounded-md border-gray-200 bg-black text-sm text-neutral-300 shadow-sm disabled:border-none"
              formControlName="firstName"
            />
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label
              for="LastName"
              class="block text-sm font-medium text-neutral-300"
            >
              Last Name
            </label>

            <input
            maxlength="35"
              type="text"
              id="LastName"
              name="last_name"
              class="mt-1 w-full rounded-md border-gray-200 bg-black text-sm text-neutral-300 shadow-sm disabled:border-none"
              formControlName="lastName"
            />
          </div>

          <div class="col-span-6">
            <div class="relative has-tooltip">
              <span
                class="absolute tooltip p-1 rounded bg-gray-800 border-[1px] border-slate-600 -translate-y-14 top-0 text-sm"
                >
                <ul class="list-disc list-inside px-2">
                  <li>Field is required</li>
                  <li>One user with only 1 email id</li>
                </ul></span
              >
              <div class="relative flex gap-2">
                <label for="Email">Email</label>
                <svg
                  class="svg-icon"
                  style="
                    width: 1em;
                    height: 1em;
                    vertical-align: middle;
                    fill: currentColor;
                    overflow: hidden;
                  "
                  viewBox="0 0 1024 1024"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M511.3 959.4C264 959.4 63.2 759 63.2 511.4S263.7 63.3 511.3 63.3s448.1 200.5 448.1 448.1-200.8 448-448.1 448z m0-836C296.9 123.4 123 297.2 123 511.7S296.8 900 511.3 900s388.3-173.8 388.3-388.3-173.9-388.3-388.3-388.3z"
                  />
                  <path
                    d="M588.7 529.2c-40.3 23.5-53.3 61.6-51.6 98.6 0 12.6-10.2 22.8-22.8 22.8h-11.8c-12.9 0-23.2-10.6-22.8-23.5 0.5-15.8 2.1-36.6 6.7-52.7 7.4-24.5 22.7-57.6 51.6-78.1 50.7-33.6 79.6-68.1 76.2-103.7-5-50.7-40-77.5-93.7-80.9-50.5-1.4-86.1 21-106.7 67.2-8.5 19.1-31 27.5-49.9 18.5-13.1-6.3-19.2-21.6-14-35.2l0.8-2.1c27.9-71.8 87.9-106.7 179.9-103.7 91 5 142 56.7 145.8 130.2 5 52.3-21.9 100.7-87.7 142.6z m-86.4 239c-17.9 0-32.5-15.7-32.5-33.7v1c0-17.9 14.5-32.5 32.5-32.5 17.9 0 32.5 14.5 32.5 32.5v-1c-0.1 17.9-14.6 33.7-32.5 33.7z"
                  />
                </svg>
              </div>
            </div>


            <input
            maxlength="40"
              type="email"
              id="Email"
              name="email"
              class="mt-1 w-full rounded-md border-gray-200 bg-black text-sm text-neutral-300 shadow-sm disabled:border-none"
              formControlName="email"
            />
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label
              for="Password"
              class="block text-sm font-medium text-neutral-300 after:content-['*'] after:text-red-400"
            >
              Password
            </label>

            <input
            maxlength="35"
              type="password"
              id="Password"
              name="password"
              class="mt-1 w-full rounded-md border-gray-200 bg-black text-sm text-neutral-300 shadow-sm disabled:border-none"
              formControlName="password"
            />
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label
              for="PasswordConfirmation"
              class="block text-sm font-medium text-neutral-300 after:content-['*'] after:text-red-400"
            >
              Password Confirmation
            </label>

            <input
            maxlength="35"
              type="password"
              id="PasswordConfirmation"
              name="password_confirmation"
              class="mt-1 w-full rounded-md border-gray-200 bg-black text-sm text-neutral-300 shadow-sm disabled:border-none"
              formControlName="confirmPassword"
            />
          </div>

          <div class="col-span-6">
            <div class="relative has-tooltip">
              <span
                class="absolute tooltip p-1 rounded bg-gray-800 border-[1px] border-slate-600 -translate-y-14 top-0 text-sm"
                >
                <ul class="list-disc list-inside px-2">
                  <li>Field is required</li>
                  <li>Minimum 3 characters</li>
                </ul></span
              >
              <div class="relative flex gap-2">
                <label for="AddressLine">Address Line 1</label>
                <svg
                  class="svg-icon"
                  style="
                    width: 1em;
                    height: 1em;
                    vertical-align: middle;
                    fill: currentColor;
                    overflow: hidden;
                  "
                  viewBox="0 0 1024 1024"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M511.3 959.4C264 959.4 63.2 759 63.2 511.4S263.7 63.3 511.3 63.3s448.1 200.5 448.1 448.1-200.8 448-448.1 448z m0-836C296.9 123.4 123 297.2 123 511.7S296.8 900 511.3 900s388.3-173.8 388.3-388.3-173.9-388.3-388.3-388.3z"
                  />
                  <path
                    d="M588.7 529.2c-40.3 23.5-53.3 61.6-51.6 98.6 0 12.6-10.2 22.8-22.8 22.8h-11.8c-12.9 0-23.2-10.6-22.8-23.5 0.5-15.8 2.1-36.6 6.7-52.7 7.4-24.5 22.7-57.6 51.6-78.1 50.7-33.6 79.6-68.1 76.2-103.7-5-50.7-40-77.5-93.7-80.9-50.5-1.4-86.1 21-106.7 67.2-8.5 19.1-31 27.5-49.9 18.5-13.1-6.3-19.2-21.6-14-35.2l0.8-2.1c27.9-71.8 87.9-106.7 179.9-103.7 91 5 142 56.7 145.8 130.2 5 52.3-21.9 100.7-87.7 142.6z m-86.4 239c-17.9 0-32.5-15.7-32.5-33.7v1c0-17.9 14.5-32.5 32.5-32.5 17.9 0 32.5 14.5 32.5 32.5v-1c-0.1 17.9-14.6 33.7-32.5 33.7z"
                  />
                </svg>
              </div>
            </div>


            <input
            maxlength="40"
              type="text"
              id="AddressLine1"
              name="address_line_1"
              class="mt-1 w-full rounded-md border-gray-200 bg-black text-sm text-neutral-300 shadow-sm disabled:border-none"
              formControlName="addressLine1"
            />
          </div>

          <div class="col-span-6">
            <label
              for="AddressLine2"
              class="block text-sm font-medium text-neutral-300"
            >
              Address Line 2
            </label>

            <input
            maxlength="40"
              type="text"
              id="AddressLine2"
              name="address_line_2"
              class="mt-1 w-full rounded-md border-gray-200 bg-black text-sm text-neutral-300 shadow-sm disabled:border-none"
              formControlName="addressLine2"
            />
          </div>

          <div class="col-span-6 sm:col-span-3">
            <div>
              <label
                for="CitySelect"
                class="block text-sm font-medium text-neutral-300 after:content-['*'] after:text-red-400"
              >
                City
              </label>

              <select
                name="HeadlineAct"
                id="CitySelect"
                class="scrollbar-thin scrollbar-track-slate-700 scrollbar-thumb-slate-300 mt-1.5 w-full rounded-lg bg-black border-gray-300 text-neutral-300 sm:text-sm disabled:border-none"
                formControlName="city"
              >
                @if (tempCities === [] && tempStates !== []) {
                <option class="bg-black text-white" value="">
                  Ignore asterix
                </option>
                } @else { @for (item of tempCities; track item) {
                <option class="bg-black text-white" [value]="item.trim()">
                  {{ item }}
                </option>
                } }
              </select>
            </div>
          </div>

          <div class="col-span-6 sm:col-span-3">
            <div>
              <label
                for="StateSelect"
                class="block text-sm font-medium text-neutral-300 after:content-['*'] after:text-red-400"
              >
                State
              </label>

              <select
                name="HeadlineAct"
                id="StateSelect"
                class="scrollbar-thin scrollbar-track-slate-700 scrollbar-thumb-slate-300 mt-1.5 w-full rounded-lg bg-black border-gray-300 text-neutral-300 sm:text-sm disabled:border-none"
                (change)="onStateChange()"
                formControlName="state"
              >
                @if (tempStates === []) {
                <option class="bg-black text-white" value="">
                  Service Unavailable
                </option>
                } @for (item of tempStates; track item) {
                <option class="bg-black text-white" [value]="item.trim()">
                  {{ item }}
                </option>
                }
              </select>
            </div>
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label
              for="zipCode"
              class="block text-sm font-medium text-neutral-300 after:content-['*'] after:text-red-400"
            >
              Zip Code
            </label>

            <input
              type="number"
              inputmode="numeric"
              maxlength="10"
              id="zipCode"
              name="zip_code"
              class="mt-1 w-full rounded-md border-gray-200 bg-black text-sm text-neutral-300 shadow-sm disabled:border-none"
              formControlName="zipCode"
            />
          </div>

          <div class="col-span-6 sm:col-span-3">
            <div>
              <label
                for="HeadlineAct"
                class="block text-sm font-medium text-neutral-300 after:content-['*'] after:text-red-400"
              >
                Country
              </label>

              <select
                name="HeadlineAct"
                id="HeadlineAct"
                class="scrollbar-thin scrollbar-track-slate-700 scrollbar-thumb-slate-300 mt-1.5 w-full rounded-lg bg-black border-gray-300 text-neutral-300 sm:text-sm disabled:border-none"
                (change)="onCountryChange()"
                formControlName="country"
              >
                @for (item of tempCountries; track item) {
                <option class="bg-black text-white" [value]="item.trim()">
                  {{ item }}
                </option>
                }
              </select>
            </div>
          </div>

          <div class="col-span-6 hidden lg:inline-block">
            <p class="text-sm text-gray-200">
              By creating an account, you agree to our
              <a class="text-neutral-400 underline"> terms and conditions </a>
              and
              <a class="text-neutral-400 underline">privacy policy</a>
              which is nothing as of today.
            </p>
          </div>

          <div class="col-span-6 hidden lg:flex lg:items-center lg:gap-4">
            <button
              type="submit"
              class="inline-block shrink-0 rounded-md border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500"
            >
              Create an account
            </button>

            <p class="mt-4 text-sm text-gray-200 sm:mt-0">
              Already have an account?
              <a routerLink="/login" class="text-neutral-400 underline"
                >Log in</a
              >.
            </p>
          </div>
        </form>
      </div>
    </main>
  </div>
  } @else {
  <div class="col-span-2 lg:col-span-1 flex items-center justify-center">
    <p>Please select your location to continue registration</p>
  </div>
  }
  <div class="px-8 py-8 col-span-2 lg:col-span-1">
    <app-maps (locationClicked)="onMapClick($event)"></app-maps>
  </div>
  <div class="px-8 py-8 lg:hidden col-span-2 grid gap-4">
    <div class="col-span-6">
      <p class="text-sm text-gray-200">
        By creating an account, you agree to our
        <a class="text-neutral-400 underline"> terms and conditions </a>
        and
        <a class="text-neutral-400 underline">privacy policy</a>
        which is nothing as of today.
      </p>
    </div>

    <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
      <button
        type="submit"
        (click)="onSubmit()"
        class="inline-block shrink-0 rounded-md border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500"
      >
        Create an account
      </button>

      <p class="mt-4 text-sm text-gray-200 sm:mt-0">
        Already have an account?
        <a routerLink="/login" class="text-neutral-400 underline">Log in</a>.
      </p>
    </div>
  </div>
</section>
