<section class="grid grid-cols-2">
  <div class="col-span-2 px-4">
    <app-form-header
      [pageName]="'checkout'"
      [title]="'Enter Your Details'"
      [subtitle]="'Get ready to enjoy an awesome meal 😍'"
    ></app-form-header>
  </div>
  @if (enableForm) {
  <div
    class="grid grid-cols-12 col-span-2 lg:col-span-1"
    [@fadeInOut]="enableForm"
  >
    <main class="flex justify-center px-4 py-8 lg:px-12 col-span-12 w-full">
      <div class="w-full lg:max-w-3xl">
        <form
          [formGroup]="orderForm"
          class="mt-8 grid grid-cols-6 gap-6"
          (ngSubmit)="onSubmit()"
        >
          <div class="col-span-6">
            <app-text-input-box
              [type]="'text'"
              [label]="'First Name'"
              [minlength]="3"
              [withInfoIcon]="true"
              [errorCategories]="nameErrorArray"
              [control]="formControl('name')"
            ></app-text-input-box>
          </div>

          <div class="col-span-6">
            <app-text-input-box
              [type]="'text'"
              [label]="'Address Line 1'"
              [withInfoIcon]="true"
              [minlength]="3"
              [errorCategories]="addressErrorArray"
              [control]="formControl('addressLine1')"
            ></app-text-input-box>
          </div>

          <div class="col-span-6">
            <app-text-input-box
              [type]="'text'"
              [label]="'Address Line 2'"
              [control]="formControl('addressLine2')"
            ></app-text-input-box>
          </div>

          <div class="col-span-6 sm:col-span-3">
            <div>
              <label
                for="CitySelect"
                class="block text-sm font-medium text-neutral-300 after:content-['*'] after:text-red-400"
              >
                City
              </label>

              <select
                name="HeadlineAct"
                id="CitySelect"
                class="transition-colors scrollbar-thin scrollbar-track-slate-700 scrollbar-thumb-slate-300 mt-1.5 w-full rounded-lg bg-black border-gray-300 text-neutral-300 sm:text-sm disabled:border-none"
                formControlName="city"
                [ngClass]="
                  orderForm.controls.city.touched &&
                  orderForm.controls.city.errors
                    ? 'border-red-400'
                    : ''
                "
              >
                @if (tempCities === [] && tempStates !== []) {
                <option class="bg-black text-white" value="">
                  Ignore asterix
                </option>
                } @else { @for (item of tempCities; track item) {
                <option class="bg-black text-white" [value]="item.trim()">
                  {{ item }}
                </option>
                } }
              </select>
            </div>
          </div>

          <div class="col-span-6 sm:col-span-3">
            <div>
              <label
                for="StateSelect"
                class="block text-sm font-medium text-neutral-300 after:content-['*'] after:text-red-400"
              >
                State
              </label>

              <select
                name="HeadlineAct"
                id="StateSelect"
                class="transition-colors scrollbar-thin scrollbar-track-slate-700 scrollbar-thumb-slate-300 mt-1.5 w-full rounded-lg bg-black border-gray-300 text-neutral-300 sm:text-sm disabled:border-none"
                (change)="onStateChange()"
                formControlName="state"
                [ngClass]="
                  orderForm.controls.state.touched &&
                  orderForm.controls.state.errors
                    ? 'border-red-400'
                    : ''
                "
              >
                @if (tempStates === []) {
                <option class="bg-black text-white" value="">
                  Service Unavailable
                </option>
                } @for (item of tempStates; track item) {
                <option class="bg-black text-white" [value]="item.trim()">
                  {{ item }}
                </option>
                }
              </select>
            </div>
          </div>

          <div class="col-span-6 sm:col-span-3">
            <app-text-input-box
              [type]="'text'"
              [label]="'Zip Code'"
              [minlength]="3"
              [control]="formControl('zipCode')"
            ></app-text-input-box>
          </div>

          <div class="col-span-6 sm:col-span-3">
            <div>
              <label
                for="HeadlineAct"
                class="block text-sm font-medium text-neutral-300 after:content-['*'] after:text-red-400"
              >
                Country
              </label>

              <select
                name="HeadlineAct"
                id="HeadlineAct"
                class="scrollbar-thin scrollbar-track-slate-700 scrollbar-thumb-slate-300 mt-1.5 w-full rounded-lg bg-black border-gray-300 text-neutral-300 sm:text-sm disabled:border-none"
                (change)="onCountryChange()"
                formControlName="country"
                [ngClass]="
                  orderForm.controls.country.touched &&
                  orderForm.controls.country.errors
                    ? 'border-red-400'
                    : ''
                "
              >
                @for (item of tempCountries; track item) {
                <option class="bg-black text-white" [value]="item.trim()">
                  {{ item }}
                </option>
                }
              </select>
            </div>
          </div>

          <div class="col-span-6 hidden lg:inline-block">
            <p class="text-sm text-gray-200">
              By creating an account, you agree to our
              <a class="text-neutral-400 underline"> terms and conditions </a>
              and
              <a class="text-neutral-400 underline">privacy policy</a>
              which is nothing as of today.
            </p>
          </div>

          <div class="col-span-6 hidden lg:flex lg:items-center lg:gap-4">
            <button
              type="submit"
              class="w-full text-center inline-block shrink-0 rounded-md border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500 disabled:bg-slate-600 disabled:border-none disabled:text-slate-200"
              [disabled]="!orderForm.valid"
            >
              Proceed To Payment
            </button>
          </div>
        </form>
      </div>
    </main>
  </div>
  } @else {
  <div class="col-span-2 lg:col-span-1 flex items-center justify-center">
    <p>Please select your location to continue ordering</p>
  </div>
  }
  <div class="px-8 py-8 col-span-2 lg:col-span-1">
    <app-maps (locationClicked)="onMapClick($event)"></app-maps>
  </div>
  <div class="px-8 py-8 lg:hidden col-span-2 grid gap-4">
    <div class="col-span-6">
      <p class="text-sm text-gray-200">
        By shopping here, you agree to our
        <a class="text-neutral-400 underline"> terms and conditions </a>
        and
        <a class="text-neutral-400 underline">privacy policy</a>
        which is nothing as of today.
      </p>
    </div>

    <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
      <button
        type="submit"
        (click)="onSubmit()"
        class="w-full text-center inline-block shrink-0 rounded-md border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500 disabled:bg-slate-600 disabled:border-none"
        [disabled]="!orderForm.valid"
      >
        Proceed To Payment
      </button>
    </div>
  </div>
</section>
