<div class="flex flex-col justify-center items-center">
  <h1 class="text-white text-center lmd:text-2xl">My Cart</h1>
  <div class="grid gap-4 w-11/12">
    @for (item of cartItems.data; track $index) {
    <div
      class="grid grid-cols-6 lg:grid-cols-cart-item text-white border-[1px] border-white rounded-lg"
    >
      <div
        class="flex justify-center items-center col-span-3 md:col-span-2 lg:col-span-1"
      >
        <img
          [src]="item.Food.imageUrl"
          alt=""
          class="max-h-48 md:max-h-96 w-fit aspect-[16/16] object-cover p-3"
        />
      </div>
      <div
        class="lg:border-none p-4 flex flex-col justify-between py-12 gap-1 col-span-3 lg:col-span-1"
      >
        <span class="border-b-[1px] border-white text-lg">
          {{ item.Food.name }}</span
        >
        <div class="flex gap-1">
          <span>Tag 1 /</span>
          <span>Tag 2 /</span>
          <span>Tag 3</span>
        </div>
        <star-rating [stars]="item.Food.stars"></star-rating>
      </div>
      <div
        class="p-[1px] flex flex-col justify-between py-12 items-center col-span-2 lg:col-span-1"
      >
        <p class="text-sm border-b-[1px] border-white">Price</p>
        <p class="text-xl text-white">{{ item.Food.price | currency }}</p>
      </div>
      <div
        class="flex flex-col items-center justify-between py-12 p-[1px] col-span-2 lg:col-span-1"
      >
        <p class="text-center border-b-[1px] border-b-white">Quantity</p>
        <div class="pb-2">
          <label for="Quantity" class="sr-only"> {{ item.quantity }} </label>

          <div class="flex items-center border rounded border-gray-800">
            <button
              type="button"
              class="w-10 h-10 leading-10 transition hover:opacity-75 text-gray-300"
              (click)="onReduceQuantity(item.foodId)"
            >
              &minus;
            </button>

            <input
              type="number"
              id="Quantity"
              [value]="item.quantity"
              class="h-10 w-16 border-transparent text-center [-moz-appearance:_textfield] bg-gray-900 text-white sm:text-sm [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none"
              disabled="true"
            />

            <button
              type="button"
              class="w-10 h-10 leading-10 transition hover:opacity-75 text-gray-300"
              (click)="onAddQuantity(item.foodId)"
            >
              &plus;
            </button>
          </div>
        </div>
      </div>
      <div
        class="p-2 flex flex-col justify-between items-center col-span-2 lg:col-span-1 py-12"
      >
        <p class="text-sm border-b-[1px] border-white">Total</p>
        <p class="text-xl text-white">
          {{ item.Food.price * item.quantity | currency }}
        </p>
      </div>
      <app-empty-button-red
        class="flex flex-col items-center justify-center p-2 col-span-6 lg:col-span-1 md:px-4"
        (onClick)="onReduceQuantity(item.Food.id, -item.quantity, true)"
        >Remove Item</app-empty-button-red
      >
    </div>
    } @if (cartItems.data.length !== 0) {
    <div
      class="text-white border-[1px] grid border-slate-600 rounded-md px-6 py-3 md:flex md:justify-between gap-4"
    >
      <div class="flex justify-between md:justify-normal gap-2">
        <app-filled-button-red [routerLink]="'/home'"
        [routerLinkActive]="'bg-transparent'"
          >Continue Shopping</app-filled-button-red
        >
        <app-filled-button-red [routerLink]="'/checkout'"
        [routerLinkActive]="'bg-transparent'"
          >Proceed To Checkout</app-filled-button-red
        >
      </div>
      <div class="flex justify-center items-center py-1">
        <p class="pt-1 text-xl">
          Subtotal:
          <span class="text-green-500">{{ totalPrice | currency }}</span>
        </p>
      </div>
    </div>
    }
  </div>
</div>
